PORT=3001
SECRET_KEY="mySecretkey-skldjoai8&Jjkd45@jj@Cdydsjg"

DB_CLIENT=mysql2
DB_HOST=localhost
DB_USER=mysql
DB_PASSWORD=mysql
DB_NAME=db

EMAIL_USER=xxx@gmail.com
EMAIL_PASSWORD=password

UPLOAD_PATH="./uploads"
